<div class="container">
  <h1>Welcome to Tweeter!</h1>
  <form action="/log_in" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="" placeholder="password">
    <input type="submit" value="log in">
  </form>
  <br><br>
</div>
